/* Navbar */
.nav-right{
  position: relative;
  left: 50rem;
}


/* button links */

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 20px 10px;
  font-size: 100%;
  line-height: 1.33;
  border-radius: 100%;
  margin: 7%;
}
